@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root{
  background: linear-gradient(144.89deg, rgba(114, 186, 88, 0.8) 20.64%, rgba(91, 185, 239, 0.8) 90.74%);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.textstyle{
font-family: JetBrains Mono
}

.textsmallstyle{
font-family: League Spartan;
}
